<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.memdesk.ExtentReportListener.MyListener" />
	</listeners>


	<test name="Memdesk Login">
		<classes>
			<class name="com.qa.memdesk.testcases.LoginPageTest"></class>
		</classes>
	</test>
</suite>